## Set your Twilio credentials here
export TWILIO_ACCOUNT_SID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export TWILIO_AUTH_TOKEN=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

## Set your Deepgram Console API key here
export CONSOLE_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
export OPENAI_API_KEY=ooooooooooooooooooooooooooooooooooooooooooooooooooo
